*{
    padding: 0px;
    margin: 0;
    box-shadow: none;
    font-family: 'Inter';
}

body{
    background-color: #F9F9FF;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.main-container{
    background-image: linear-gradient(180deg, rgba(0, 41, 83, 0.8) 0%, rgba(0, 45, 91, 0.8) 100%), url('assets/52d3173793d63a5506bdd481c257a100.jpg');
    background-size: cover;
    background-position: center 43%;
    width: 100%;
    height: 728px;
}

.navbar{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F2F4F7;
    height: 80px;
}

.main-container .navbar .nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 110px;
}

.main-container .navbar .nav-items .nav-essentials{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar .nav-items .nav-essentials .logo {
    display: flex;
    gap: 10px;
}

.navbar .nav-items .nav-essentials .logo h1{
    color: #ffff;
}

.navbar .nav-items .nav-essentials .logo img {
    width: 40px;
    height: 40px;
}

.nav-items .nav-essentials .nav-links .nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-items .nav-essentials .nav-links  ul li{
    list-style: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.nav-items .nav-essentials .nav-links ul li a{
    text-decoration: none;
    color: white;
}

.nav-items .ham-burger{
    display: none;
    color: white;
    font-size: 30px;
}

.searchbar i{
    cursor: pointer;
    color: white;
    width: 20px;
    height: 20px;
}

@media (max-width: 916px) {
    .main-container .navbar .nav-items{
        margin: 0 auto;
        width: 80%;
    }

    .nav-items .nav-essentials .nav-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-items .nav-essentials .nav-links .nav{
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 80%;
        background-color: rgba(0, 45, 91, 0.9);
        gap: 60px;
        z-index: 1;
        padding: 64px 0 0 0;
    }   

    .nav-items .nav-essentials .nav-links .nav{
        flex-direction: column;
    }

    .nav-items .nav-essentials .nav-links ul li {
        padding: 10px 0;
        transition: 0.5s ease-in-out;
    }
    
    .nav-items .ham-burger{
        display: block;
    }

    .searchbar{
        display: none;
    }
}

@media (min-width: 917px) {
    .nav-items .nav-essentials .nav-links .nav {
        display: flex;
    }
}


/* Overlay modal for search */

.search-box{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background: #00000066;
}

.search-box .model-content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-box .model-content input{
    width: 640px;
    height: 56px;
    padding: 0px 0px 0px 24px;
    border-radius: 12px;
    box-shadow: 0px 8px 8px -4px #10182808;
}

.search-box .model-content .close{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    float: right;
    background-color: #FFFFFF;
    border-radius: 100px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Hover Over Resources */

.nav-links .hover-item{
    position: relative;
    display: inline-block;
}

.nav-links .hover-item .hover-container{
    display: none;
    position: absolute;
    width: 370px;
    height: 264px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    box-shadow: 0px 4px 6px -2px #10182808;
    z-index: 1;
    padding: 24px 20px 24px 20px;
    gap: 8px;
}

.nav-links .hover-item:hover .hover-container{
    display: block;
}

.nav-links .hover-item .hover-container .hover-elements{
    display: flex;
    padding: 12px;
    gap: 16px;
}

.nav-links .hover-item .hover-container .hover-elements .hover-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nav-links .hover-item .hover-container .hover-elements .hover-info h1{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #101828;
}

.nav-links .hover-item .hover-container .hover-elements .hover-info p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #667085;
}

.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.banner-container .banner-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.banner-container .banner-information h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
}

.banner-container .banner-information p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #E3E3E3;
}

.banner-container .btn{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    border: 1px solid #FFE500;
    color: #FFFFFF;
    padding: 16px 28px;
    background: #FFFFFF1A;
    box-shadow: 0px 1px 2px 0px #1018280D;
    border-radius: 8px;
}

.banner-container .btn p{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

.banner-container .btn i{
    font-size: 18px;
}

.banner-container .btn:hover{
    background-color: #FFE500;
    color: #000;
    border: 1px solid #000;
    transition: 0.2s ease-in-out;
}

/* Responsive */

@media (max-width: 990px) {
    .banner-container .banner-information{
        margin: 0 auto;
        width:80%;
    }
    .banner-container{
        transform: translate(-50%, -25%);
    }
}

@media (max-width: 748px){
    .main-container{
        height: 830px;
    }
}

@media (max-width: 618px){
    .main-container{
        height: 930px;
    }
}

@media (max-width: 494px){
    .main-container{
        height: 1030px;
    }
}


/* Features Section */

.features-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #F9F9FF;
}

.features-container .features-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.features-header h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #24272E;
}

.features-header p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #667085;
}

/* Cards */

.features-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.features-cards .card{
    display: flex;
    flex-direction: column;
    width: 351.44px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: 'DM Sans';
}

.features-cards .card:hover{
    transform: translateY(-4px);
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.features-cards .card .card-image img{
    width: 352px;
}

.features-cards .card .card-information{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 30px;
}

.features-cards .card .card-information .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.features-cards .card .card-information .card-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1D6FA3;
}

.features-cards .card .card-information .card-btn:hover{
    transform: translateX(4px);
    transition: 0.2s ease-in;
}

.features-cards .card .card-information .card-btn button{
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #1D6FA3;
    text-align: center;
    font-family: 'DM Sans';
}

.features-cards .card .card-information h1{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

.features-cards .card .card-information p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

/* Responsive */

@media (max-width: 1160px) {
    .features-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 790px){
    .features-container{
        gap: 50px;
    }
    .features-cards{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px){
    .features-cards .card{
        width: 290.44px;
    }
    .features-cards .card .card-image img{
        width: 290px;
    }
}

/* Who we are */

.whoweare-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0px 96px 0px;
    gap: 64px;
    background-color: #FFFFFF;
}

.whoweare-container .whoweare-wrapper{
    display: flex;
    gap: 64px;
    margin: 0 auto;
    width: 73%;
}

.whoweare-container .whoweare-elements{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 48px;
}

.whoweare-container .whoweare-elements .whoweare-elements-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whoweare-container .whoweare-elements .whoweare-elements-header h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
}

.whoweare-container .whoweare-elements .whoweare-elements-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #505258;
}

.whoweare-container .whoweare-elements .whoweare-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.whoweare-container .whoweare-elements .whoweare-btn-container:hover{
    transform: translateX(4px);
    transition: 0.2s ease-in;
}

.whoweare-container .whoweare-elements .whoweare-btn-container .whoweare-btn{
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #1D6FA3;
    cursor: pointer;
}

.whoweare-container .whoweare-elements .whoweare-btn-container i{
    color: #1D6FA3;
}


.whoweare-container .whoweare-image-container{
    display: flex;
    gap: 20px;
}

.whoweare-container .whoweare-image-container img{
    width: 328px;
    height: 415px;
    border-radius: 16px;
}

.whoweare-container .whoweare-image-container .column1-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.whoweare-container .whoweare-image-container .column1-image .image{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.whoweare-container .whoweare-image-container .column1-image .image h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}

.whoweare-container .whoweare-image-container .column2-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 140px 0px 0px 0px;
}

.whoweare-container .whoweare-image-container .column2-image .image{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.whoweare-container .whoweare-image-container .column2-image .image h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}

/* Who we are responsive with media query */

@media (max-width: 1284px) {
    .whoweare-container .whoweare-wrapper{
        width: 80%;
    }
}

@media (max-width: 1190px){
    .whoweare-container .whoweare-wrapper{
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media (max-width: 740px){
    .whoweare-container .whoweare-image-container .column2-image{
        padding: 40px 0px 0px 0px;
    }
    .whoweare-container .whoweare-image-container{
        flex-direction: column;
    }
}

@media (max-width: 400px){
    .whoweare-container .whoweare-elements{
        gap: 30px;
    }
    .whoweare-container .whoweare-image-container img{
        width: 290px;
        height: 380px;
    }   
}


/* Carousel */
.container-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel {
    position: relative;
    width: 1000px;
    overflow: hidden;
}

.carousel-container{
    display: flex;
    gap: 65px;
    transition: transform 0.5s ease;
}

.carousel i{
    font-size: 25px;
    color: #585858;
}

.carousel .carousel-items{
    display: flex;
    gap: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 100;
}

.carousel-button.left {
    background-color: transparent;
    left: 0;
}

.carousel-button.right {
    right: 0;
}

/* News */

.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 80px 0px 80px 0px;
    background-color: #FFFFFF;
}

.news-container .news-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.news-container .news-header h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #24272E;
}

.news-container .news-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #505258;
}

.news-container .news-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-container .news-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.news-container .news-cards-container .news-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 330px;
    height: 470px;
    border-radius: 20px;
    background-color:#F9F9FF;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.news-container .news-cards-container .news-card:hover{
    transform: translateY(-4px);
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news-container .news-cards-container .news-card .info-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
}

.news-container .news-cards-container .news-card .info-container .card-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.news-container .news-cards-container .news-card .info-container .card-btn:hover{
    transition: 0.2s ease-in;
    transform: translateX(4px);
}

.news-container .news-cards-container .news-card .info-container .card-btn button{
    background-color:#F9F9FF;
    color: #1D6FA3;
    border: none;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}

.news-container .news-cards-container .news-card .info-container .card-btn i{
    color: #1D6FA3;
    font-size: 16px;
}
.news-container .news-cards-container img{
    width: 315px;
    height: 201px;
    border-radius: 16px;
}

.news-container .news-cards-container .news-card .news-information{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.news-container .news-cards-container .news-card .news-information h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #24272E;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-container .news-cards-container .news-card .news-information p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #505258;
    position: relative;
    height: 96px;
    width: 290px;
    max-height: calc(1.4rem * var(--maxline));
    overflow: hidden;
}

.news-container .news-cards-container .news-card .news-information p::before{
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
}

.news-container .news-cards-container .news-card .news-information p::after{
    content: "";
    position: absolute;
    right: 0;
}

.news-container .viewall{
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-container .viewall button{
    width: 150px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #1D6FA3;
    background-color: #FFFFFF;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.news-container .viewall button:hover{
    background-color: #24272E;
    color: white;
    transition: 0.2s ease-in-out;
}

/* Responsive */
@media (max-width: 1230px) {
    .news-container .news-cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 820px){
    .news-container .news-cards-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px){
    .news-container .news-cards-container .news-card{
        width: 260px;
    }
    .news-container .news-cards-container img{
        width: 245px;
    }

    .news-container .news-cards-container .news-card .news-information{
        width: 240px;
    }
    .news-container .news-cards-container .news-card .news-information p {
        width: 238px;
    }
}


/* Resources */

.resource-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.resource-container .resource-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.resource-container .resource-header h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #24272E;
}

.resource-container .resource-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #7C7D82;
}

.resources-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 30px;
}

.resources-card-container .resource-card{
    display: flex;
    flex-direction: column;
    padding: 50px 30px 0px 30px;
    width: 320px;
    gap: 50px;
    height: 337.45px;
    border-radius: 21.83px;
    background-color: #FFFFFF;
}

.resources-card-container .resource-card:hover{
    transform: translateY(-2px);
    transition: 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.resources-card-container .resource-card .image-header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.resources-card-container .resource-card .resource-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resources-card-container .resource-card .resource-wrapper .image-header .image1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65.49px;
    height: 65.59px;
    border-radius: 18.19px;
    background-color: #F8F1FF;
}

.resources-card-container .resource-card .resource-wrapper .image-header .image2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65.49px;
    height: 65.59px;
    border-radius: 18.19px;
    background-color: #F3F6FF;
}

.resources-card-container .resource-card .resource-wrapper .image-header .image3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65.49px;
    height: 65.59px;
    border-radius: 18.19px;
    background-color: #FAE6E0;
}

.resources-card-container .resource-card  .resource-wrapper .image-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #66686D;
}

.resources-card-container .resource-card .resource-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resources-card-container .resource-card .resource-info h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #24272E;
}

.resources-card-container .resource-card .resource-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7C7D82;
}

.resources-card-container .card-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.resources-card-container .card-btn button{
    background-color: #FFFFFF;
    border: none;   
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #1D6FA3;
    cursor: pointer;
}

.resources-card-container .card-btn i{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #1D6FA3;
}

.resources-card-container .card-btn:hover{
    transform: translateX(4px);
    transition: 0.2s ease-in;
}

.resource-container .resource-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.resource-container .resource-button button{
    width: 200px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #1D6FA3;
    background-color:#F9F9FF;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.resource-container .resource-button button:hover{
    background-color: #24272E;
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
}

/* Responsive */

@media (max-width: 1240px){
    .resources-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px){
    .resources-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 410px) {
    .resources-card-container .resource-card{
        width: 225px;
    }
}

/* Contact-us */

.contact-us-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    height:727px;
    padding: 80px 0px 80px 0px;
    background-color: #FFFFFF;
}

.contact-us-container .form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
    width: 85%;
}

.contact-us-container .form-header h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #24272E;
}

.contact-us-container .form-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #505258;
}

.contact-us-container .form-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}

.contact-us-container .form-container .name-container{
    display: flex;
    gap: 20px;
}

.contact-us-container .form-container .name-container .name{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-us-container .form-container .name-container .name label{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #24272E;
}

.contact-us-container .form-container .name-container .name input{
    width: 267px;
    height: 44px;
    padding: 0px 0px 0px 12px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #00000029;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.contact-us-container .form-container .email-container{
    display: flex;
    gap: 20px;
}

.contact-us-container .form-container .email-container .email{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.contact-us-container .form-container .email-container .email label{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #24272E;
}

.contact-us-container .form-container .email-container .email input{
    height: 44px;
    padding: 0px 0px 0px 12px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #00000029;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.contact-us-container .form-container .message-container{
    display: flex;
    gap: 20px;
}

.contact-us-container .form-container .message-container .message{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.contact-us-container .form-container .message-container .message label{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #24272E;
}

.contact-us-container .form-container .message-container .message input{
    height: 44px;
    padding: 0px 0px 0px 12px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #00000029;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.contact-us-container .submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us-container .submit-button button{
    width: 88px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    border-radius: 4px;
    border: 1px solid #1D6FA3;
    background-color: #FFFFFF;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #24272E;
}

.contact-us-container .submit-button button:hover{
    background-color: #24272E;
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
}

/* Responsive */

@media (max-width:655px) {
    .contact-us-container .form-container{
        width: 80%;
    }
    .contact-us-container .form-container .name-container{
        flex-direction: column;
    }
    .contact-us-container .form-container .name-container .name input{
        width: auto;
    }
}

/* Footer */

.footer-container {
    position: relative;
    width: 100%;
    height: 480px;
    background: url('assets/WhatsApp Image 2024-06-08 at 8.02.39 AM.jpeg');
    background-size: cover;
}

.footer-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #3387D7 0%, #093157 100%);
    opacity: 80%;
}

.footer-container .footer-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
    z-index: 1;
}

.footer-container .footer-elements .footer-column1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-container .footer-elements .footer-column1 .footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-container .footer-elements .footer-column1 .footer-logo h1{
    color: #FFFFFF;
}

.footer-container .footer-elements .footer-column1 .company-info{
    display: flex;
    flex-direction: column;
}

.footer-container .footer-elements .footer-column1 .company-info p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #FFFFFF;
}

.footer-container .footer-elements .footer-column1 .social-media-logos{
    display: flex;
    gap: 20px;
}

.footer-container .footer-elements .footer-column1 .social-media-logos .logos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-color: #FFFFFF;
}

.footer-container .footer-elements .footer-column1 .social-media-logos .logos:hover{
    background-color: #3387D7;
    transition: 0.2s ease-in-out;
}

.footer-container .footer-elements .footer-column1 .social-media-logos .twitter-logo img{
    width: 18px;
    height: 14.6px;
}

.footer-container .footer-elements .footer-column2 .footer-content{
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(3, 1fr);
}

.footer-container .footer-elements .footer-column2 .footer-content .footer-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-container .footer-elements .footer-column2 .footer-content .footer-section .footer-section-header h1{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}

.footer-container .footer-elements .footer-column2 .footer-content .footer-section .footer-sublinks{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-container .footer-elements .footer-column2 .footer-content .footer-section .footer-sublinks a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.footer-container .footer-elements .footer-column2 .footer-content .footer-section .footer-sublinks a:hover{
    color: #24272E;
}

/* Responsive */

@media (max-width:1045px) {
    .footer-container{
        height: 550px;
    }
    .footer-container .footer-elements{
        flex-direction: column;
        gap: 60px;
    }
    .footer-container .footer-elements .footer-column1{
        align-items: center;
    }
}

@media (max-width:600px){
    .footer-container{
        height: 750px;
    }
    .footer-container .footer-elements .footer-column2 .footer-content{
       grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:448px){
    .footer-container{
        height: 950px;
    }
    .footer-container .footer-elements .footer-column1{
        align-items: flex-start;
    }
    .footer-container .footer-elements .footer-column2 .footer-content{
        grid-template-columns: repeat(1,1fr);
     }
     .footer-container .footer-elements{
        align-items: flex-start;
     }
}

.copyright-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;
    padding: 32px, 164px, 32px, 164px;
    margin: 0 auto;
    width: 80%;
}

.copyright-content .terms p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #7C7D82;
}

@media (max-width:400px){
    .copyright-content{
        width: 90%;
    }
}



